{% extends 'registration/base.html' %}
{% block body %}
<div class="row mt-4">
  <div class="col-md-2 mt-4"></div>
  <div class="col-md-8 mt-4" style="background-color: #ebf4fa; margin-left: 30px; margin-right: 30px; padding-bottom: 20px;">
   <p class="text-center mt-4">Enter your registered email address to send the activation link</p>
   <form method=post class="text-center mt-2">
       {% csrf_token %}
       {{ form }} <br>
       <small><button type="submit" class="btn btn-sm btn-primary thin btn-test">Submit</button></small>
       <small><a href="{% url 'core:home' %}" class="btn btn-sm btn-primary btn-test thin">Cancel</a></small>
   </form>
  </div>
  <div class="col-md-2 mt-4"></div>
</div>
{% endblock %}