{% extends 'core/basetemp.html' %}
{% block body1 %}
<div class="row">
  <div class="col-md-4 mt-4"></div>
  <div class="col-md-4 mt-4" style="background: #ebf4fa; padding-bottom: 10px;margin-left: 20px; margin-right: 20px;">
   {% if messages %}
        <ul class="messages text-center mt-4">
           {% for message in messages %}
             <li class="{{ messages.tags }}">{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
   <form method="post" class="mt-4 text-center">
      {% csrf_token %}
      {% for field in form %}
      <small><p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
             <p style="color: red;">{{ error }}</p>
          {% endfor %}
      </p></small>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-sm btn-test">Save Password</button>
   </form>
  </div>
  <div class="col-md-4 mt-4"></div>
{% endblock %}
