{% extends 'core/foundation.html' %}
{% block body %}
     <div class="row">
       <div class="col-md-12 mt-4">
         <form enctype="multipart/form-data" action="" method="Post">
              {% csrf_token %}
              {{ form.as_p }}
              <a href="{% url 'core:profile' args %}" class="btn thin btn-test btn-primary btn-sm">Back</a>
              <input type="submit" name="upload" value="Create Topic" class="btn thin btn-test btn-primary btn-sm">
          </form>
       </div>
     </div>
{% endblock %}
