<div class="row">
    <div class="col-md-12" add-customtopic-url="{% url 'core:titles_to_customtopic' title.pk topic %}">
        <a href="" class="add_title"><i class="material-icons">add_circle</i></a>
        <a href="{% url 'core:myblogdisplay' title.pk %}" class="btn btn-link">{{ title.title }}</a>
    </div>
</div>
<script type="text/javascript">
  $('.add_title').on('click', function(event){
    event.preventDefault();
    console.log('start');
    var div = $(this).closest("div");
    var row = $(this).closest(".row");
    row.remove();
    $.ajax({
      url : div.attr("add-customtopic-url"),
      type : "GET",
      success : function(data) {
        var app = $("#append-ctopic");
        app.append(data.html_form);

      }
    })
  });
</script>