{% extends 'core/bottomtemp.html' %}
{% load staticfiles %}
{% block static %}
<link href="{% static 'bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block body1 %}
<div class="row mt-4">
  <div class="col-md-12">
    <h2 class="text-center">Welcome to Thoughtsofminds</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>These terms and conditions outline the rules and regulations for the use of Thoughtsofminds's Website.</p>
    <p>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Thoughtsofminds's website
    if you do not accept all of the terms and conditions stated on this page.</p>
    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
    and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
    and accepting the website's terms and conditions. “The website”, “Ourselves”, “We”, “Our” and “Us”, refers
    to this website. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
    or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
    the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
    of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
    of provision of the website's stated services/products, in accordance with and subject to, prevailing law
    of . Any use of the above terminology or other words in the singular, plural,
    capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Cookies</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>We employ the use of cookies. By using Thoughtsofminds's website you consent to the use of cookies
    in accordance with Thoughtsofminds’s <span><a href="{% url 'core:privacy_policy' %}">privacy policy</a></span>.</p><p>Most of the modern day interactive web sites
    use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
    to enable the functionality of this area and ease of use for those people visiting. Some of our
    affiliate / advertising partners may also use cookies.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">License</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Unless otherwise stated, the authers, they are the <span><a href="{% url 'core:writers' %}">contributers</a></span> of contents to Thoughtsofminds, who own the intellectual property rights for their respective contents. All intellectual property rights are reserved. You may view and/or print
    pages from https://www.thoughtsofminds.com for your own personal use subject to restrictions set in these terms and conditions.</p>
    <p>You must not:</p>
    <ol>
        <li>Republish material from https://www.thoughtsofminds.com</li>
        <li>Sell, rent or sub-license material from https://www.thoughtsofminds.com</li>
        <li>Reproduce, duplicate or copy material from https://www.thoughtsofminds.com</li>
    </ol>
    <p>Redistribute content from Thoughtsofminds (unless content is specifically made for redistribution).</p>
  </div>
</div>
{% endblock %}